.band {
  margin-top: 14px;
  padding: 20px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.content {
  margin-top: 20px;
  font-family: 'roboto', sans-serif;
  font-weight: 500;
}

li {
  font-family: 'roboto', sans-serif;
  font-size: 90%;
}


pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.col-6 {
  display: flex;
}

.ctas {
  display: inline-block;
  align-self: flex-end;
}

.btn {
  margin-right: 5px;
  margin-bottom: 5px;
}

.show-small {
  display: none;
}

@media screen and (max-width: 768px){
  .hidden-small {
    display: none;
  }

  .show-small {
    display: block;
  }

  img {
    margin-bottom: 15px;
  }
}
